.about-container{
    align-items: center;
    background-color:rgb(226, 223, 223);
    margin-top: -23%;
    padding-bottom: 5%;
}

.header-about-us{
    font-style: Roboto;
    font-size: 40px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 0%;
    text-decoration: underline;
}
.sub-text{
    font-style: Roboto;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1px;
}

.text{
    font-style: Roboto;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}